#fondoLogin{
    background: #1C2130;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ContenedorLogin{
    width: 400px;
    height: 500px;
    background-color: #FFEAAD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputLogin{
    width: 80%;
    margin: 10px 0;
    padding: 10px;    
    border-radius: 4px;
}

#buttonStyles{
    width: 50%;
    background: #028F76;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}